




.switcher{
    float: right;
    width: 90px;
    border-radius: 50px;
    border: 1px solid black;
    display: flex;
}
.switcher div.active{
    background-color: black;
    border-radius: inherit;
    color:white
}
.switcher div{
    flex:50%;
    height: inherit;
    text-align: center;
    cursor: pointer;
}


.bookingSlotContainer {
    display: flex;
}

.bookingSlot {
    height: 150px;
    padding: 10px;
    margin: 10px;
    width: 200px;
}

ul.pageList {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    color: green;
}

ul.pageList li {
    flex: 0 0 23%;
    max-width: 23%;
    padding: 5px
}

ul.pageList li:hover:not(.booked){
    color:blue;
    cursor: pointer;
}
.pageListBox {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 12px 15px;
    border-radius: 4px;
    background-color: var(--white);
    height: 100%;
    transition: all ease-in-out 0.2s;
    position: relative;
}

.slotIcon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.booked {
    color:red !important;
    cursor:pointer;
    font-weight: 500;
}
.available {
    font-weight: 500;
}


.listStyleNone {
    list-style: none;
    padding: 0;
    margin: 0;
}


.card-header.panelHeader {
    background-color: transparent;
    border: 0;
    position: relative;
    border-bottom: 1px solid #e1e1e1;
    margin: 0 10px;
    padding: 10px 15px;
    z-index: 1;
    min-height: 40px;

}
.cardPanel {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);

}
.card-body.panelBody {
    padding: 15px;
    position: relative;
}
.panelLoader {
    height: 216px;
}
 .panelChart,
   .panelLoader,
 .panelMessage {
        height: 250px;
    }
    .card-body.panelBody .panelLoader i,
    .card-body.panelBody .panelMessage p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 22px;
        color: #ad5389;
    }

    .pd-r-7 {
        padding-right:7px ;
    }
    .pd-t-10 {
        padding-top: 10px;
    }
    ul.counterList {
        padding: 0;
        margin: 0 0 3px;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
    }
    ul.counterList li {
        flex: 0 0 33.2%;
        max-width: 33.2%;
        padding: 0 5px 10px;
    }
    ul.adminCounterList li:first-of-type {
        cursor: pointer;
    }
    ul.counterList li .counterProgress {
        height: 50px;
        width: 70px;
    }
    ul.counterList li .counterProgress .circleProgressBar {
        height: 100%;
        width: 100%;
    }
    ul.counterList li .counterProgress .circleProgressBar .CircularProgressbar-text {
        font-size: 30px;
        fill: #0099ff;
        dominant-baseline: middle;
        text-anchor: middle;
    }
    .counterCard {
        position: relative;
        padding: 12px 100px 12px 25px;
        background-color: var(--white);
        border-radius: 4px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
    }
    .counterCard .counterIcon {
        height: 50px;
        width: 50px;
        position: absolute;
        top: 50%;
        right: 15px;
        border-radius: 50%;
        transform: translateY(-50%);
        background-image: linear-gradient(#22437C, #22437C, #0A2446);
        border: 2px solid var(--borderColor);
        transition: all ease-in-out 0.4s;
    }
    .counterCard.landingCard {
        padding: 15px 40px 15px 20px;
    }
    .counterCard .counterProgress {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        font-size: 16px;
    }
    .counterCard .counterIcon i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #f2f0f1;
        font-size: 18px;
    }
    .counterCard .counterContent p {
        margin-bottom: 7px;
        color: var(--contentColor);
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }
    .counterCard .counterContent h4 {
        margin: 0;
        font-weight: 500;
        color: var(--textColor);
    }
    .counterCard .counterContent h4 span {
        font-size: 12px;
        color: var(--contentColor);
        margin: 0 4px;
    }
    .counterCard:hover {
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
    }
    .counterCard:hover .counterContent p,
    .counterCard:hover .counterContent h4 {
        color: var(--themeColor);
    }
    .counterCard.calenderIconCard {
        background-image: linear-gradient(#22437C, #22437C, #0A2446);
        height: 100%;
    }
    .counterCard.calenderIconCard .counterContent h4,
    .counterCard.calenderIconCard .counterContent  p{
        color: var(--white);
    }
