/*!*----------- flex---------*!*/
/*.flex {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    flex-direction: row;*/
/*}*/
/*.flex-item {*/
/*    flex: 0 0 50%;*/
/*    max-width: 50%;*/
/*}*/
/*.fx-b100 {*/
/*    flex-basis: 100% !important;*/
/*    max-width: 100% !important;*/
/*}*/
/*.fx-b70 {*/
/*    flex-basis: 70% !important;*/
/*    max-width: 70% !important;*/
/*}*/
/*.fx-b75 {*/
/*    flex-basis: 75% !important;*/
/*    max-width: 75%;*/
/*}*/
/*.fx-b60 {*/
/*    flex-basis: 60% !important;*/
/*    max-width: 60% !important;*/
/*}*/
/*.fx-b65 {*/
/*    flex-basis: 65% !important;*/
/*    max-width: 65% !important;*/
/*}*/
/*.fx-b50 {*/
/*    flex-basis: 50% !important;*/
/*    max-width: 50% !important;*/
/*    }*/
/*.fx-b55{*/
/*    flex-basis: 55% !important;*/
/*    max-width: 55% !important;*/
/*    }*/
/*.fx-b40 {*/
/*    flex-basis: 40% !important;*/
/*    max-width: 40% !important;*/
/*}*/
/*.fx-b33 {*/
/*    flex-basis: 33.33% !important;*/
/*    max-width: 33.33% !important;*/
/*}*/
/*.fx-b30 {*/
/*    flex-basis: 30% !important;*/
/*    max-width: 30% !important;*/
/*}*/
/*.fx-b35 {*/
/*    flex-basis: 35% !important;*/
/*    max-width: 35% !important;*/
/*}*/
/*.fx-b45 {*/
/*    flex-basis: 45% !important;*/
/*    max-width: 45% !important;*/
/*}*/
/*.fx-b25 {*/
/*    flex-basis: 25% !important;*/
/*    max-width: 25% !important;*/
/*}*/
/*.fx-b20 {*/
/*    flex-basis: 20% !important;*/
/*    max-width: 20% !important;*/
/*}*/
/*.fx-b22 {*/
/*    flex-basis: 22% !important;*/
/*    max-width: 22% !important;*/
/*}*/
/*.fx-b15 {*/
/*    flex-basis: 15% !important;*/
/*    max-width: 15% !important;*/
/*}*/
/*.fx-b10 {*/
/*    flex-basis: 10% !important;*/
/*    max-width: 10% !important;*/
/*}*/
/*.fx-b12{*/
/*    flex-basis: 12% !important;*/
/*    max-width: 12% !important;*/
/*}*/
/*.fx-b5{*/
/*    flex-basis: 5% !important;*/
/*    max-width: 5% !important;*/
/*}*/
/*.fx-b7{*/
/*    flex-basis: 7% !important;*/
/*    max-width: 7% !important;*/
/*}*/
/*.pd-l-10{*/
/*    padding-left: 10px !important;*/
/*}*/
/*.pd-l-15{*/
/*    padding-left: 15px !important;*/
/*}*/
/*.listStyleNone {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    list-style: none;*/
/*}*/
/*.b-0{*/
/*   border:0 !important;*/
/*}*/
/*.f-17{*/
/*   font-size:17px !important;*/
/*}*/

/*!*________ Color ____*!*/
/*.text-darkRed {*/
/*    color: red !important;*/
/*}*/
/*.text-red {*/
/*    color: rgb(236, 101, 101)!important;*/
/*}*/
/*.text-lightGreen {*/
/*    color: rgb(153, 216, 6) !important;*/
/*}*/
/*.text-yellow {*/
/*    color: rgb(234, 200, 10) !important;*/
/*}*/
/*.text-darkBlue {*/
/*    color: rgb(68, 164, 249) !important;*/
/*}*/
/*body{*/
/*    margin: 0px;*/
/*    padding: 0px;*/
/*    width: 100%;*/
/*    height:100vh;*/
/*    box-sizing: border-box;*/
/*    font-family: 'Roboto', sans-serif !important;*/
/*    background-color: rgba(245, 246, 250, 1) !important;*/
/*}*/
/*body .container{*/
/*    min-width: 100%;*/
/*    padding: 0;*/
/*    display: flex;*/
/*    height: 100%;*/
/*    position: relative;*/
/*    background-color: #f7f5f5;*/
/*}*/

/*!* Form css *!*/
/*.form-group {*/
/*    margin: 25px;*/
/*}*/

/*.form-group .form-control {*/
/*    padding: 10px 20px;*/
/*    border: 1px solid black ;*/
/*    opacity: .4;*/
/*    border-radius:20px;*/
/*    height: auto;*/
/*    font-size: 14px;*/
/*    color: black;*/
/*}*/
/*.form-control input {*/
/*    color: black;*/
/*}*/
/*.form-control input:disabled {*/
/*    background-color: grey;*/
/*    cursor: not-allowed;*/
/*}*/
/*.form-group .form-control:focus {*/
/*    box-shadow:inset 0 0 6px rgba(0, 0, 0, 1)*/
/*}*/
/*!* Form css *!*/


/*!* Login form *!*/

/*.loginContainer {*/
/*    width: 100%;*/
/*    height: -webkit-fill-available;*/
/*    transition: 0.55s ease-in-out;*/
/*    background-color: #0e316d;*/
/*    background-size: cover;*/
/*    !* transform: rotate(90deg); *!*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    display: flex;*/

/*}*/

/*.loginForm{*/
/*    min-height: 300px;*/

/*}*/

/*.loginBox {*/
/*    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);*/
/*    width:  400px;*/
/*    height: 350px;*/
/*    background-color: whitesmoke;*/
/*    border-radius: 7px;*/
/*    !* background-image: linear-gradient(to right,#232526  , #414345); *!*/
/*}*/

/*.loginForm .btn-primary {*/
/*    width: 60%;*/
/*    border-radius: 20px;*/
/*    background-color: blue;*/
/*    align-self: center;*/
/*    font-weight: bold;*/
/*}*/

/*.loginForm a{*/
/*    font-weight: 400;*/
/*    display: block;*/
/*    text-align: center;*/
/*    margin-top: -5px;*/
/*    cursor: pointer;*/
/*}*/

/*.loginBox .loginHeader {*/
/*    justify-content: center;*/
/*    margin: 20px;*/
/*}*/
/*.loginHeader img {*/
/*    height: 60px;*/
/*    width: inherit;*/
/*    display:block;*/
/*    margin:auto;*/
/*}*/
/*!* Login form *!*/

/*!* SideNav *!*/
/*.sideNav {*/
/*    width: 200px;*/
/*    position: fixed;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    top:0;*/
/*    z-index: 100;*/
/*    transition: 0.55s ease-in-out;*/
/*    box-shadow: 5px   #888888;*/
/*    background-color: white;*/
/*    !* background-image: linear-gradient(-20deg,#232526,#414345)!important; *!*/
/*}*/
/*.sideNav .sidenavContainer {*/
/*    padding: 5px;*/
/*    position: relative;*/
/*    height: 100%;*/
/*}*/

/*.vpsLogo {*/
/*    height: 200px*/
/*}*/
/*.sidenavContainer .sideNavLogo {*/
/*    position: absolute;*/
/*    transform: rotate(-90deg);*/
/*    padding: 0px;*/
/*    top: 10%;*/
/*    left: 20px;*/
/*    font-weight: 900;*/
/*    color: white;*/
/*}*/

/*.sidenavContainer .activeTabName{*/
/*    position: absolute;*/
/*    transform: rotate(-90deg);*/
/*    padding: 0px;*/
/*    bottom: 10%;*/
/*    left: -10px;*/
/*    !* transform: translateX(-50%); *!*/
/*    font-weight: 900;*/
/*    color: white;*/
/*    white-space: nowrap;*/
/*}*/

/*.sidenavContainer .sideNavIcon {*/
/*    -webkit-transform:rotate(-90deg);*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left:25px;*/
/*    bottom: 50%;*/
/*    color:white*/
/*}*/
/*.sidenavContainer .sideNavCloseIcon {*/
/*    position: absolute;*/
/*    -webkit-transform:rotate(-90deg);*/
/*    top: 50%;*/
/*    left:25px;*/
/*    bottom: 50%;*/
/*    color:white;*/
/*    display: none;*/
/*}*/
/*.sideNavIcon ,.sideNavCloseIcon i{*/
/*    width: 2px;*/
/*}*/
/*.sideNavCloseIcon ,.sideNavIcon:hover {*/
/*    cursor: pointer;*/
/*    color: white;*/
/*}*/
/*.sidenavContainer .sideNavLogo p{*/
/*    padding: 0px !important;*/
/*    margin: 0px ;*/
/*    color: white;*/
/*    font-size: 1.4em;*/
/*    font-weight: bold;*/
/*    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
/*}*/
/*.menuNavigationSlideWrapper{*/
/*    border-right: 2px solid #e1e1e1;*/
/*    line-height: 1.6;*/
/*    font-size: 20px;*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    top:0;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    transition: 0.55s ease-in-out;*/
/*    box-sizing: content-box;*/
/*    height: 100% !important;*/
/*    display: block;*/
/*}*/

/*.menuList{*/
/*    height: 100%;*/
/*    left: 0;*/
/*    border-top: 2px solid #e1e1e1;*/

/*}*/

/*.menuList ul{*/
/*    list-style-type: none;*/
/*    margin: 0px;*/
/*    padding: 0px;*/
/*    width: 100%;*/
/*}*/
/*.menuList ul li  {*/
/*    padding: 10px 5px 10px 5px;*/
/*}*/
/*.menuList ul li a{*/
/*    text-decoration: none;*/
/*    color: black;*/
/*    margin:5px;*/
/*}*/
/*.menuList ul li.active a{*/
/*    color: white;*/
/*}*/
/*.menuList ul li a:hover{*/
/*    color: #ad5389;*/
/*}*/
/*.menuList ul li.active{*/
/*    background-color: rgba(68, 33, 54, 0.5);*/
/*border-left: 5px solid #3c1053;*/
/*    border-radius: 5px;*/
/*    color: white;*/
/*}*/
/*.menuList ul li.active:hover{*/
/*    background-color: rgba(68, 33, 54, 0.5);*/
/*}*/
/*.menuList ul li.active a:hover{*/
/*color: white;*/
/*}*/
/*.menuList ul li:hover:not(.active){*/
/*    color: #ad5389;*/
/*    !* text-shadow: 2px 2px black; *!*/
/*}*/

/*!* SideNav *!*/

/*!* container *!*/

/*.contentInCenter {*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    display: flex;*/
/*}*/

/*.contentContainer {*/
/*    position: relative;*/
/*    padding: 70px 10px 70px 10px ;*/
/*}*/
/*!* container *!*/


/*!* header *!*/

/*.header {*/
/*    background-image: linear-gradient(-20deg,#ad5389,#3c1053)!important;*/
/*    height: 50px;*/
/*    right:0;*/
/*    left:200px;*/
/*    top: 0;*/
/*    position: fixed;*/
/*    z-index: 5;*/
/*    box-shadow: 0 3px 5px rgba(0,0,0,.15);*/
/*}*/

/*.headerContent {*/
/*    margin: 0px;*/
/*    height: inherit;*/
/*    display: flex;*/
/*}*/

/*.headerContent  > * {*/
/*    color: white;*/
/*}*/
/*.logoutButton {*/
/*    flex:.1;*/
/*    padding:5px;*/
/*    font-weight: bold;*/
/*    text-transform: capitalize;*/
/*    float: right;*/
/*    justify-content: center;*/
/*    display: flex;*/
/*}*/
/*.logoutButton  p {*/
/*    margin: 0;*/
/*    padding:5px*/
/*}*/
/*.info  {*/
/*    flex: .9;*/
/*    padding:5px;*/
/*    font-weight: bold;*/
/*    text-transform: capitalize;*/
/*}*/

/*.info p{*/
/*    margin: 0px;*/
/*    padding: 5px 5px 5px 20px;*/

/*}*/

/*.logoutButton p:hover {*/
/*    color:red;*/
/*    cursor: pointer;*/

/*    }*/
/*!* header *!*/


/*!* container css*!*/

/*.contentHeader {*/
/*    position: fixed;*/
/*    padding:12px 20px 12px 20px;*/
/*    background-color: whitesmoke;*/
/*    top:50px;*/
/*    left: 200px;*/
/*    right:0;*/
/*    z-index: 5;*/
/*    border-bottom: 2px solid*/
/*}*/

/*.contentBox {*/
/*    padding: 50px 0 50px 200px;*/
/*    position: relative;*/
/*}*/

/*.addButton  {*/
/*    color: white;*/
/*    border: 1px solid;*/
/*    border-radius: 50%;*/
/*    background-image: linear-gradient(-20deg,#ad5389,#3c1053)!important;*/
/*    float: right;*/
/*}*/

/*.contentHeader p {*/
/*    margin: 0;*/
/*    font-weight: 800;*/
/*}*/
/*!* container css*!*/

/*.p-0{*/
/*    padding: 0;*/
/*}*/


/*!* React Table *!*/


/*!*.customReactTable.ReactTable {*!*/
/*!*    border: 0px;*!*/
/*!*}*!*/
/*!*.customReactTable.ReactTable .rt-table .rt-thead{*!*/
/*!*    box-shadow: 2px 2px 1px black;*!*/
/*!*}*!*/
/*!*.customReactTable.ReactTable .rt-table .rt-thead .rt-tr .rt-th {*!*/
/*!*    font-size: 13px;*!*/
/*!*    padding: 10px 12px;*!*/
/*!*    text-align: center;*!*/
/*!*    font-weight: 500;*!*/
/*!*    border: 1px solid #e1e1e1;*!*/

/*!*}*!*/
/*!*.customReactTable.ReactTable .rt-table .rt-tbody .rt-tr-group .rt-td {*!*/
/*!*    padding: 10px 12px;*!*/
/*!*    font-size: 13px;*!*/
/*!*    !* color: black; *!*!*/
/*!*    transition: all ease-in-out 0.2s;*!*/
/*!*    vertical-align: middle;*!*/
/*!*    line-height: 2.4;*!*/
/*!*    position: relative;*!*/
/*!*    font-weight: 400;*!*/

/*!*    border: 1px solid #e1e1e1;*!*/
/*!*    !* border-bottom: 1px solid; *!*!*/
/*!*    !* background-color: #f7f5f5; *!*!*/
/*!*}*!*/

/*!*.ReactTable .-pagination .-previous {*!*/
/*!*    display: block;*!*/
/*!*    padding: 5px 5px 5px 20px;*!*/
/*!*    border: 1px solid #e1e1e1;*!*/
/*!*    box-shadow: 2px 2px 1px black;*!*/
/*!*    border-radius: 20px;*!*/
/*!*    color: black;*!*/
/*!*    cursor: pointer;*!*/

/*!*}*!*/

/*!*.ReactTable .-pagination .-next {*!*/
/*!*    display: block;*!*/
/*!*    padding: 5px 5px 5px 20px;*!*/
/*!*    border: 1px solid #e1e1e1;*!*/
/*!*    box-shadow: 2px 2px 1px black;*!*/

/*!*    border-radius: 20px;*!*/
/*!*    color: black;*!*/
/*!*    cursor: pointer;*!*/

/*!*}*!*/
/*!* React Table *!*/


/*!* The Modal (background) *!*/
/*.customModal {*/
/*    display: none; !* Hidden by default *!*/
/*    position: fixed; !* Stay in place *!*/
/*    z-index: 10; !* Sit on top *!*/
/*    left: 200px;*/
/*    top: 50px;*/
/*    width: 100%; !* Full width *!*/
/*    height: 100%; !* Full height *!*/
/*    overflow: auto; !* Enable scroll if needed *!*/
/*    background-color: rgb(0,0,0); !* Fallback color *!*/
/*    background-color: rgba(0,0,0,0.4); !* Black w/ opacity *!*/
/*    -webkit-animation-name: fadeIn; !* Fade in the background *!*/
/*    -webkit-animation-duration: 0.4s;*/
/*    animation-name: fadeIn;*/
/*    animation-duration: 0.4s;*/
/*  }*/

/*  !* Modal Content *!*/
/*.customModal-content {*/
/*  position: fixed; !* Set the position to fixed so the element stays in place *!*/
/*  top: 50%; !* Set the top property to 50% to center the element vertically *!*/
/*  left: 50%; !* Set the left property to 50% to center the element horizontally *!*/
/*  transform: translate(-50%, -50%); !* Use the transform property to center the element perfectly *!*/
/*  background-color: #fefefe; !* Set the background color *!*/
/*  width: 30%; !* Set the width of the element *!*/
/*  height: 80%; !* Set the height of the element *!*/
/*  -webkit-animation-name: slideIn; !* Use webkit prefix for Safari/Chrome *!*/
/*  -webkit-animation-duration: 0.4s; !* Set the duration of the animation *!*/
/*  animation-name: slideIn; !* Use non-prefixed version for other browsers *!*/
/*  animation-duration: 0.4s; !* Set the duration of the animation *!*/
/*  overflow-y: scroll; !* Add this property to enable vertical scrolling *!*/

/*}*/


/*  !* The Close Button *!*/
/*  .close {*/
/*    color: white;*/
/*    float: right;*/
/*    font-size: 28px;*/
/*    font-weight: bold;*/
/*  }*/

/*  .close:hover {*/
/*    text-decoration: none;*/
/*    cursor: pointer;*/
/*  }*/

/*  .customModal-header .close{*/
/*      opacity: 1;*/
/*  }*/
/*    .customModal-header  p{*/
/*        margin: 0px;*/
/*        font-weight: 900;*/
/*    }*/

/*  .customModal-header {*/
/*    padding: 12px 20px 12px 20px;*/
/*    background-image: linear-gradient(-20deg,#ad5389,#3c1053)!important;*/
/*    color: white;*/
/*  }*/

/*  .customModal-body {*/
/*    padding: 2px 16px;*/
/*    max-height: 500px;*/
/*    overflow-y: auto;*/
/*}*/


/*  !* Add Animation *!*/
/*  @-webkit-keyframes slideIn {*/
/*    from {bottom: -300px; opacity: 0}*/
/*    to {bottom: 0; opacity: 1}*/
/*  }*/

/*  @keyframes slideIn {*/
/*    from {bottom: -300px; opacity: 0}*/
/*    to {bottom: 0; opacity: 1}*/
/*  }*/

/*  @-webkit-keyframes fadeIn {*/
/*    from {opacity: 0}*/
/*    to {opacity: 1}*/
/*  }*/

/*  @keyframes fadeIn {*/
/*    from {opacity: 0}*/
/*    to {opacity: 1}*/
/*  }*/

/*  !* The Modal (background) *!*/

/*  ::-webkit-scrollbar {*/
/*    width: 5px;*/
/*    display: none;*/
/*}*/

/*  !* Track *!*/
/*  ::-webkit-scrollbar-track {*/
/*    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
/*  }*/

/*  !* Handle *!*/
/*  ::-webkit-scrollbar-thumb {*/
/*    background: #888;*/
/*  }*/

/*  !* Handle on hover *!*/
/*  ::-webkit-scrollbar-thumb:hover {*/
/*    background: #555;*/
/*  }*/

/*  .mr-r-10 {*/
/*      margin-right: 10px ;*/
/*  }*/


/*  .d-block{*/
/*      display: block;*/
/*  }*/
/*  .d-none{*/
/*      display: none;*/
/*  }*/

/*  .react-notification-root {*/
/*    top: 100px !important;*/
/*}*/

/*.newNotificationModal .notification-container-top-right {*/
/*    top: 100px;*/
/*    right:0px;*/
/*    position: fixed;*/
/*}*/
/*.newNotificationModal .n-parent {*/
/*    !* min-width: 400px; *!*/
/*    margin-right: 15px;*/
/*}*/
/*!* .loader {*/
/*    border: 16px solid #f3f3f3;*/
/*    border-radius: 50%;*/
/*    border-top: 16px solid #3498db;*/
/*    width: 120px;*/
/*    height: 120px;*/
/*    -webkit-animation: spin 2s linear infinite;*/
/*    animation: spin 2s linear infinite;*/
/*    margin:auto;*/
/*    left:0;*/
/*    right:0;*/
/*    top:0;*/
/*    bottom:0;*/
/*    position:fixed;*/
/*  }*/

/*  @-webkit-keyframes spin {*/
/*    0% { -webkit-transform: rotate(0deg); }*/
/*    100% { -webkit-transform: rotate(360deg); }*/
/*  }*/

/*  @keyframes spin {*/
/*    0% { transform: rotate(0deg); }*/
/*    100% { transform: rotate(360deg); }*/
/*  } *!*/
/*  .loaderBox  {*/
/*      background-color: black;*/
/*      opacity: .8;*/
/*  }*/
/*  .loading {*/
/*    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;*/
/*    text-transform:uppercase;*/

/*    width:150px;*/
/*    text-align:center;*/
/*    line-height:50px;*/

/*    position:absolute;*/
/*    left:0;right:0;top:50%;*/
/*    margin:auto;*/
/*    transform:translateY(-50%);*/
/*  }*/

/*  .loading span {*/
/*    position:relative;*/
/*    z-index:999;*/
/*    color:#fff;*/
/*  }*/
/*  .loading:before {*/
/*    content:'';*/
/*    background:#ad5389;*/
/*    width:128px;*/
/*    height:36px;*/
/*    display:block;*/
/*    position:absolute;*/
/*    top:0;left:0;right:0;bottom:0;*/
/*    margin:auto;*/
/*    animation:2s loadingBefore infinite ease-in-out;*/
/*  }*/

/*  @keyframes loadingBefore {*/
/*    0%   {transform:translateX(-14px);}*/
/*    50%  {transform:translateX(14px);}*/
/*    100% {transform:translateX(-14px);}*/
/*  }*/



/*  .loading:after {*/
/*    content:'';*/
/*    background:#3c1053;*/
/*    width:14px;*/
/*    height:60px;*/
/*    display:block;*/
/*    position:absolute;*/
/*    top:0;left:0;right:0;bottom:0;*/
/*    margin:auto;*/
/*    opacity:.7;*/

/*    animation:2s loadingAfter infinite ease-in-out;*/
/*  }*/

/*  @keyframes loadingAfter {*/
/*    0%   {transform:translateX(-50px);}*/
/*    50%  {transform:translateX(50px);}*/
/*    100% {transform:translateX(-50px);}*/
/*  }*/


/*.switcher{*/
/*    float: right;*/
/*    width: 90px;*/
/*    border-radius: 50px;*/
/*    border: 1px solid black;*/
/*    display: flex;*/
/*}*/
/*.switcher div.active{*/
/*    background-color: black;*/
/*    border-radius: inherit;*/
/*    color:white*/
/*}*/
/*.switcher div{*/
/*    flex:50%;*/
/*    height: inherit;*/
/*    text-align: center;*/
/*    cursor: pointer;*/
/*}*/


/*.bookingSlotContainer {*/
/*    display: flex;*/
/*}*/

/*.bookingSlot {*/
/*    height: 150px;*/
/*    padding: 10px;*/
/*    margin: 10px;*/
/*    width: 200px;*/
/*}*/

/*ul.pageList {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-wrap: wrap;*/
/*    list-style: none;*/
/*    color: green;*/
/*}*/

/*ul.pageList li {*/
/*    flex: 0 0 23%;*/
/*    max-width: 23%;*/
/*    padding: 5px*/
/*}*/

/*ul.pageList li:hover:not(.booked){*/
/*    color:blue;*/
/*    cursor: pointer;*/
/*}*/
/*.pageListBox {*/
/*    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);*/
/*    padding: 12px 15px;*/
/*    border-radius: 4px;*/
/*    background-color: var(--white);*/
/*    height: 100%;*/
/*    transition: all ease-in-out 0.2s;*/
/*    position: relative;*/
/*}*/

/*.slotIcon{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*}*/
/*.booked {*/
/*    color:red !important;*/
/*    cursor:pointer;*/
/*    font-weight: 500;*/
/*}*/
/*.available {*/
/*    font-weight: 500;*/
/*}*/

/*.noDataFound {*/
/*    height: 100%;*/
/*    justify-content: center;*/
/*    flex-direction: column;*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.noDataFound button{*/
/*    background-color: black;*/
/*    color: white;*/
/*    padding: 7px;*/
/*    border-radius: 20px;*/
/*}*/
/*.modal-dialog{*/
/*    min-width: 500px;*/
/*}*/
/*.modalContainer {*/
/*    height:100%;*/
/*    display: flex;*/
/*align-items: center;*/
/*justify-content: center*/
/*}*/
/*.footer {*/
/*    position: fixed;*/
/*    right: 0;*/
/*    left: 200px;*/
/*    bottom: 0;*/
/*    padding: 5px 10px 0px;*/
/*    background-image: linear-gradient(135deg,#D3CCE3,#E9E4F0);*/
/*    text-align: center;*/
/*    border-top: 1px solid #c3cfe2;*/
/*    z-index: 1;*/
/*}*/
/*.listStyleNone {*/
/*    list-style: none;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/
/*.footer ul li {*/
/*    display: inline-block;*/
/*    padding-right: 15px;*/
/*    margin-right: 15px;*/
/*    position: relative;*/
/*    cursor: not-allowed;*/
/*}*/
/*.footer ul li a:hover {*/
/*    cursor: not-allowed;*/
/*}*/
/*.loader1{*/
/*    position: fixed;*/
/*    left: 5%;*/
/*    top: 105px;*/
/*    !* bottom: 79px; *!*/
/*    margin-bottom: 70px;*/
/*    width: 100%;*/
/*    height: 80%;*/
/*    z-index: 9999;*/
/*    !* background: url(//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Phi_fenomeni.gif/50px-Phi_fenomeni.gif) 50% 50% no-repeat rgb(249,249,249); *!*/
/*}*/

/*.card-header.panelHeader {*/
/*    background-color: transparent;*/
/*    border: 0;*/
/*    position: relative;*/
/*    border-bottom: 1px solid #e1e1e1;*/
/*    margin: 0 10px;*/
/*    padding: 10px 15px;*/
/*    z-index: 1;*/
/*    min-height: 40px;*/

/*}*/
/*.cardPanel {*/
/*    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);*/

/*}*/
/*.card-body.panelBody {*/
/*    padding: 15px;*/
/*    position: relative;*/
/*}*/
/*.panelLoader {*/
/*    height: 216px;*/
/*}*/
/* .panelChart,*/
/*   .panelLoader,*/
/* .panelMessage {*/
/*        height: 250px;*/
/*    }*/
/*    .card-body.panelBody .panelLoader i,*/
/*    .card-body.panelBody .panelMessage p {*/
/*        position: absolute;*/
/*        top: 50%;*/
/*        left: 50%;*/
/*        transform: translate(-50%, -50%);*/
/*        font-size: 22px;*/
/*        color: #ad5389;*/
/*    }*/

/*    .pd-r-7 {*/
/*        padding-right:7px ;*/
/*    }*/
/*    .pd-t-10 {*/
/*        padding-top: 10px;*/
/*    }*/
/*    ul.counterList {*/
/*        padding: 0;*/
/*        margin: 0 0 3px;*/
/*        list-style: none;*/
/*        display: flex;*/
/*        flex-direction: row;*/
/*        flex-flow: wrap;*/
/*    }*/
/*    ul.counterList li {*/
/*        flex: 0 0 33.2%;*/
/*        max-width: 33.2%;*/
/*        padding: 0 5px 10px;*/
/*    }*/
/*    ul.adminCounterList li:first-of-type {*/
/*        cursor: pointer;*/
/*    }*/
/*    ul.counterList li .counterProgress {*/
/*        height: 50px;*/
/*        width: 70px;*/
/*    }*/
/*    ul.counterList li .counterProgress .circleProgressBar {*/
/*        height: 100%;*/
/*        width: 100%;*/
/*    }*/
/*    ul.counterList li .counterProgress .circleProgressBar .CircularProgressbar-text {*/
/*        font-size: 30px;*/
/*        fill: #0099ff;*/
/*        dominant-baseline: middle;*/
/*        text-anchor: middle;*/
/*    }*/
/*    .counterCard {*/
/*        position: relative;*/
/*        padding: 12px 100px 12px 25px;*/
/*        background-color: var(--white);*/
/*        border-radius: 4px;*/
/*        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);*/
/*        transition: all 0.3s ease-in-out;*/
/*    }*/
/*    .counterCard .counterIcon {*/
/*        height: 50px;*/
/*        width: 50px;*/
/*        position: absolute;*/
/*        top: 50%;*/
/*        right: 15px;*/
/*        border-radius: 50%;*/
/*        transform: translateY(-50%);*/
/*        background-image: linear-gradient(#22437C, #22437C, #0A2446);*/
/*        border: 2px solid var(--borderColor);*/
/*        transition: all ease-in-out 0.4s;*/
/*    }*/
/*    .counterCard.landingCard {*/
/*        padding: 15px 40px 15px 20px;*/
/*    }*/
/*    .counterCard .counterProgress {*/
/*        position: absolute;*/
/*        top: 50%;*/
/*        transform: translateY(-50%);*/
/*        right: 10px;*/
/*        font-size: 16px;*/
/*    }*/
/*    .counterCard .counterIcon i {*/
/*        position: absolute;*/
/*        top: 50%;*/
/*        left: 50%;*/
/*        transform: translate(-50%, -50%);*/
/*        color: #f2f0f1;*/
/*        font-size: 18px;*/
/*    }*/
/*    .counterCard .counterContent p {*/
/*        margin-bottom: 7px;*/
/*        color: var(--contentColor);*/
/*        font-size: 11px;*/
/*        text-transform: uppercase;*/
/*        letter-spacing: 0.05em;*/
/*    }*/
/*    .counterCard .counterContent h4 {*/
/*        margin: 0;*/
/*        font-weight: 500;*/
/*        color: var(--textColor);*/
/*    }*/
/*    .counterCard .counterContent h4 span {*/
/*        font-size: 12px;*/
/*        color: var(--contentColor);*/
/*        margin: 0 4px;*/
/*    }*/
/*    .counterCard:hover {*/
/*        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);*/
/*        transition: all 0.3s ease-in-out;*/
/*    }*/
/*    .counterCard:hover .counterContent p,*/
/*    .counterCard:hover .counterContent h4 {*/
/*        color: var(--themeColor);*/
/*    }*/
/*    .counterCard.calenderIconCard {*/
/*        background-image: linear-gradient(#22437C, #22437C, #0A2446);*/
/*        height: 100%;*/
/*    }*/
/*    .counterCard.calenderIconCard .counterContent h4,*/
/*    .counterCard.calenderIconCard .counterContent  p{*/
/*        color: var(--white);*/
/*    }*/
